designs/pages/Layout/MovieDetails/movieDetails.json
[
    {
        "id": "sd_8vPQf74LEP6YfLqN",
        "type": "tab",
        "createdDate": "2023-04-08T11:16:07.505Z",
        "label": "movieDetails",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "movieDetailsComponent"
    },
    {
        "id": "sd_8oJLQ1K8XImgWWnQ",
        "type": "OnInit",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "common",
        "nodeType": "start",
        "name": "MovieAndCastInfo",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [
            {
                "key": "movieData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            },
            {
                "key": "castData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "functionName": "movieAndCastInfo",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_Sgj8olesXKMSqVej"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "movieDetailsComponent"
    },
    {
        "id": "sd_Lbj8SPJs2pLZxhw5",
        "type": "PageCallService",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Ln5dT2OsZ9YoUrIG",
            "type": "tab",
            "createdDate": "2023-04-08T12:33:12.771Z",
            "label": "movieDetails",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_JeJpyXJhVEP56Ugl",
            "flowName": "sd_JeJpyXJhVEP56Ugl"
        },
        "inputVariables": [
            {
                "key": "url",
                "map": true,
                "valueType": "bh.input",
                "value": "movieDetailsUrl"
            },
            {
                "key": "movieData",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "castData",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "castUrl",
                "map": true,
                "valueType": "bh.input",
                "value": "castUrl"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "movieData",
                "valueType": "this.page",
                "value": "movieData",
                "mapVarName": "movieData",
                "localVar": "this.page.movieData"
            },
            {
                "mapVarType": "input",
                "key": "castData",
                "valueType": "this.page",
                "value": "castData",
                "mapVarName": "castData",
                "localVar": "this.page.castData"
            }
        ],
        "serviceImportPath": "app/sd-services/movieDetails",
        "startName": "sd_JeJpyXJhVEP56Ugl",
        "inputParams": [
            "bh.input.movieDetailsUrl",
            null,
            null,
            "bh.input.castUrl"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_Lbj8SPJs2pLZxhw5",
        "category": "General",
        "x": 505,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    },
    {
        "id": "sd_h2xYqOO2SBIj67MS",
        "type": "Script",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n \n bh.input.route.paramMap.subscribe(params => {\n    const id = params.get('id');\n    bh.input.castUrl = `https://api.themoviedb.org/3/movie/${id}/credits?api_key=${bh.local.secret}`\n    bh.input.movieDetailsUrl = `https://api.themoviedb.org/3/movie/${id}?api_key=${bh.local.secret}`\n});\n",
        "functionName": "sd_h2xYqOO2SBIj67MS",
        "category": "Function",
        "x": 385,
        "y": 60,
        "wires": [
            [
                "sd_Lbj8SPJs2pLZxhw5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    },
    {
        "id": "sd_Sgj8olesXKMSqVej",
        "type": "UseDependency",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "ActivatedRoute",
                "typedIpValue": {
                    "type": "bh.input",
                    "value": "route"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_Sgj8olesXKMSqVej",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_ywGcqIIFCEQoCAgF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    },
    {
        "id": "sd_ywGcqIIFCEQoCAgF",
        "type": "Environment",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "secret"
                },
                "envProperty": "API_SECRET"
            }
        ],
        "functionName": "sd_ywGcqIIFCEQoCAgF",
        "category": "General",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "sd_h2xYqOO2SBIj67MS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    },
    {
        "id": "sd_bPa2Aclix8IiiyAv",
        "type": "PageStart",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "pages",
        "nodeType": "start",
        "name": "gotoTrailer",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "id",
                "defaultValue": {
                    "type": "num",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "gotoTrailer",
        "category": "General",
        "x": 65,
        "y": 200,
        "wires": [
            [
                "sd_ukVVFeWQE24KPhp9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "movieDetailsComponent"
    },
    {
        "id": "sd_0c7pQDuvfN9D9nV8",
        "type": "Script",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.url = `${bh.local.baseUrl}/movie/${bh.input.id}/videos?api_key=${bh.local.secret}&language=en-US`\n",
        "functionName": "sd_0c7pQDuvfN9D9nV8",
        "category": "Function",
        "x": 265,
        "y": 200,
        "wires": [
            [
                "sd_LitCX4VpCc3uCP7n"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    },
    {
        "id": "sd_ukVVFeWQE24KPhp9",
        "type": "Environment",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "secret"
                },
                "envProperty": "API_SECRET"
            },
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "baseUrl"
                },
                "envProperty": "BASE_URL"
            }
        ],
        "functionName": "sd_ukVVFeWQE24KPhp9",
        "category": "General",
        "x": 165,
        "y": 200,
        "wires": [
            [
                "sd_0c7pQDuvfN9D9nV8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    },
    {
        "id": "sd_LitCX4VpCc3uCP7n",
        "type": "HttpRequest",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.responce",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "responce"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_LitCX4VpCc3uCP7n",
        "category": "HTTP",
        "x": 365,
        "y": 200,
        "wires": [
            [
                "sd_V0OFQx9i9T6h8Qjc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    },
    {
        "id": "sd_V0OFQx9i9T6h8Qjc",
        "type": "Script",
        "z": "sd_8vPQf74LEP6YfLqN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.trailer = bh.local.responce.results.find(video=>video.type==='Trailer').key\nconsole.log(bh.local.trailer)",
        "functionName": "sd_V0OFQx9i9T6h8Qjc",
        "category": "Function",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "movieDetailsComponent",
        "generated": true
    }
]
